* {
    margin: 0;
}
@font-face {
    font-family: 'giliamsregular';
    src: url('giliams-regular-webfont.woff2') format('woff2'),
         url('giliams-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: #FFCCF4;
    font-family: 'giliams-regular-webfont';
}


.navigationBar{
    background-color: #FFED4D !important; 
    text-align: center;  
}
#mainIG{
    position: absolute;
    left: 800px;
    top: 5px;     
}
#artIG{
    position: absolute;
    left: 830px;
    top: 5px;  
}
.mainBody{
    text-align: left;
}
.rectangle{
    /* Rectangle 4 */
    position: absolute;
    width: 501px;
    height: 300px;
    left: 450px;
    top: 150px;
    background: #FFF387;
}
#shortBlurb{
    text-align: center;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

#butterflyHair{
    position: absolute;
    left: 280px;
    top: 500px;
    border: 20px solid #FF7BE2 !important;
    background-color: #FF7BE2;

    /*background: url(IMG_1276.png);*/
}
#greenFairy{
    position: absolute;
    left: 1050px;
    top: 180px;
    border: 20px solid #FF7BE2 !important;
}
#orangeButterfly{
    position: absolute;
    left: 100px;
    top: 150px;
    border: 20px solid #FF7BE2 !important;
}
.interviewImages{
    /* IMG_5657 1 */
    position: absolute;
    left: 1060px;
    top: 1285px;

    border-radius: 549.5px;
}
.interview{
    /* Rectangle 5 */
    position: absolute;
    width: 1062px;
    height: 2000px;
    left: 0px;
    top: 1050px;
    background: #FFF387 !important;
}
#profilePic{
    padding-left: 20px;
    
    padding-bottom:50px;
}
#gemButterfly{
    padding-top: 50px;
    padding-left: 20px;
    
    
}
#about{
    padding-left: 10px;
}
#interviewBody{
    text-align:center;
    margin-top: 15px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
    font-family: 'giliamsregular';
  }
#interviewHeader{
    margin-top: 15px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
}
#yellow{
    -webkit-text-stroke: 0.15px black;
}

#about{
    text-align: center;
}

#dinosaur{
    padding-left: 5px;
}

#dog1{
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:10%;
}

#dog2{
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:10%;
}

#saintMartin{
    padding-left:5px;
    padding-top:5px;
    padding-bottom: 5px;
}

#michelleObama{
    padding-left:5px;
    padding-top:5px;
    padding-bottom: 5px; 
}
  

