* {
    margin: 0;
}
body{
    background-color: #FFCCF4;
}


.navigationBar{
    background-color: #FFED4D !important; 
    text-align: center;  
}
#mainIG{
    position: sticky;
    left: 300px;
    top: 1px;     
}
#artIG{
    position: sticky;
    left: 200px;
    top: 1px;  
}
.mainBody{
    text-align: left;
}
.rectangle{
    /* Rectangle 4 */
    position: absolute;
    width: 501px;
    height: 204px;
    left: 450px;
    top: 150px;
    background: #FFF387;
}
#shortBlurb{
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

#butterflyHair{
    position: absolute;
    left: 280px;
    top: 500px;
    border: 20px solid #FF7BE2 !important;
    background-color: #FF7BE2;

    /*background: url(IMG_1276.png);*/
}
#greenFairy{
    position: absolute;
    left: 1050px;
    top: 180px;
    border: 20px solid #FF7BE2 !important;
}
#orangeButterfly{
    position: absolute;
    left: 100px;
    top: 150px;
    border: 20px solid #FF7BE2 !important;
}
.interviewImages{
    /* IMG_5657 1 */
    position: absolute;
    left: 1060px;
    top: 1285px;

    border-radius: 549.5px;
}
.interview{
    /* Rectangle 5 */
    position: absolute;
    width: 1062px;
    height: 1107px;
    left: 0px;
    top: 1050px;
    background: #FFF387;
}
#profilePic{
    
    border-radius: 50%;
}
#interviewBody{
    background: #FFF387;
    margin-top: 15px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
  }

