body {background-color: turquoise;
    font-family: 'Open_Sans-Regular';
    
    }
    /* Add a black background color to the top navigation */
    /* .topnav {
    background-color: lightgrey;
    overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    /*.topnav a {
    float: left;
    color: teal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    /* Change the color of links on hover */
    /*.topnav a:hover {
    background-color: lightblue;
    color: white;
    }
    
    /* Add a color to the active/current link */
    /*.topnav a.active {
    background-color: #4CAF50;
    color: white;
    }
    img{
    width: 300px;
    height: 300px;
    float:left;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    border: 10px solid lightgrey;
    border-radius: 1000px;
    }
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 10px solid #777;
    }
    
    div.gallery img {
      width: 100px;
      height: 100px;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    