/*
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Moontime';
*/
@font-face {
    font-family: 'Moontime';
    src: url("fonts/Moontime.woff") format('woff');
  }
*{
    margin: 0;
}
html{
    max-width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
   
    grid-template-areas: 
       "image image title title title blank about blank2 catalog blank3 compare navRight"
       "img1 img1 img1 img1 img1 img1 text1 text1 text1 text1 text1 text1"
       "txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2"
       "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"  
}

.logo{
    grid-area: image;
    background-color: #C1C8FF;
    align-content: center;
    padding-top: 10%;
    padding-left: 15%;

}
#navLinks:hover {
    color:white;
}
.title{
    grid-area: title;
    font-family: 'Moontime';
    font-size: 50pt;
    background-color: #C1C8FF;
    white-space: nowrap;
    padding-top: 5%;
    padding-left: -50%;
}
#top{
    text-decoration: none;
    color: black;
}
.blank{
    grid-area: blank;
    background-color: #C1C8FF;
}
.blank2{
    grid-area: blank2;
    background-color: #C1C8FF;
}
.blank3{
    grid-area: blank3;
    background-color: #C1C8FF;
}
#navLinks{
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}
.about{
    grid-area: about;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    font-weight: bold;
    
}
.catalog{
    grid-area: catalog;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.compare{
    grid-area: compare;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
}
.navLeft{
    grid-area: navLeft;
    background-color: #C1C8FF;
    width: auto;
}
.navRight{
    grid-area: navRight;
    background-color: #C1C8FF;
    width: auto;
}
.blank4{
    grid-area: blank4;
    background-color: white;
    width: auto;
}
.blank5{
    grid-area: blank5;
    background-color: white;
    width: auto;
}

.header{
    grid-area: text1;
    padding-top: 10%;
}
#subhead{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 36pt;
    padding-bottom: 5%;
}
#about{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18pt;
    font-weight: 325;
    text-align: center;

}
.image1{
    text-align: center;
    grid-area: img1;
}
.text4{
    grid-area: txt2;
    text-align: center;
    padding-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36pt;
    padding-left: 15%;
    padding-right: 15%;

}
.gallery{
    grid-area: gallery;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;
    overflow-x: hidden;
    padding-bottom: 5%;
}
.text4 p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;
    font-weight: 100;
}


/*trying hover again*/
.gallery ul {
    display: block;
    height: 65vh;
    width: 100%;
    position: relative;
    overflow-x:hidden;
    overflow-y:hidden;
    list-style: none;
    
}
li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;
    font-weight: 100;
    text-decoration: none;
    line-height: 2;
    list-style: none;
}
.gallery a{
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
li:first-child a {
    border-top: none;
}
.gallery a:hover {
    font-weight:bold;
}

.gallery img {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    overflow-x:hidden;
}
a:hover + img,
.gallery img:hover {
    display: inline-block;
    overflow-x: hidden;
}

@media (max-width: 600px){
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        
        grid-template-areas:
        "image about catalog compare"
        "img1 img1 img1 img1"
        "text1 text1 text1 text1"
        "txt2 txt2 txt2 txt2"
        "gallery gallery gallery gallery"
    }
    /*navbar*/
    .image{
        padding-top: 5%;
    }
    .about{
        padding-top:20%;
    }
    .catalog{
        padding-top:20%;
    }
    .compare{
        padding-top:20%;
    }
    .blank{
        display:none;
    }
    .title{
        display:none;
    }
    .blank2{
        display:none;
    }
    .blank3{
        display:none;
    }
    .navRight{
        display:none;
    }
    .navLeft{
        display:none;
    }


/*tap on mobile*/
.gallery ul {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x:hidden;
    overflow-y:hidden;
    list-style: none;
}
li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;
    font-weight: 100;
    text-decoration: none;
    line-height: 2;
    list-style: none;
}
.gallery a{
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
li:first-child a {
    border-top: none;
}
.gallery a:hover {
    font-weight:bold;
}

.gallery img {
    display: none;
    position: relative;
    width: 80%;
    overflow-x:hidden;
    justify-content:center;
}
a:hover + img,
.gallery img:hover {
    display: block;
    overflow-x: hidden;

}
}
