/*
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Moontime';
*/
@font-face {
    font-family: 'Moontime';
    src: url("fonts/Moontime.woff") format('woff');
  }
*{
    margin: 0;
    box-sizing:border-box
    
}
html{
    max-width: 100%;

}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(75px, auto);
    justify-content: space-between;
    grid-template-areas: 
       "image image title title title blank about blank2 catalog blank3 compare navRight"
       "image1 image1 image1 image1 image1 image1 text1 text1 text1 text1 text1 text1"
       "catalog1 catalog1 catalog1 catalog1 catalog1 catalog1 slideshow slideshow slideshow slideshow slideshow slideshow"
       "pan1 pan1 pan1 pan1 pan2 pan2 pan2 pan2 pan3 pan3 pan3 pan3"
       "pan4 pan4 pan4 pan4 pan5 pan5 pan5 pan5 pan6 pan6 pan6 pan6"
}

.logo{
    grid-area: image;
    background-color: #C1C8FF;
    align-content: center;
    padding-top: 10%;
    padding-left: 15%;

}
#navLinks:hover {
    color:white;
  }
.title{
    grid-area: title;
    font-family: 'Moontime';
    font-size: 50pt;
    background-color: #C1C8FF;
    white-space: nowrap;
    padding-top: 5%;
    padding-left: -50%;
    
}
#top{
    text-decoration: none;
    color: black;
}
.blank{
    grid-area: blank;
    background-color: #C1C8FF;
}
.blank2{
    grid-area: blank2;
    background-color: #C1C8FF;
}
.blank3{
    grid-area: blank3;
    background-color: #C1C8FF;
}
#navLinks{
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}
.about{
    grid-area: about;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.catalog{
    grid-area: catalog;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.compare{
    grid-area: compare;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
}
.navLeft{
    grid-area: navLeft;
    background-color: #C1C8FF;
    width: auto;
}
.navRight{
    grid-area: navRight;
    background-color: #C1C8FF;
    width: auto;
}
.image1{
    grid-area: image1;
    
}
.catdescr{
    grid-area: catalog1;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    font-size: 20pt;
    font-weight:lighter;
}

.pan1{
    grid-area: pan1;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #E1E5F1;
    padding: 10% 10% 5% 5%;
}
.pan2{
    grid-area: pan2;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #ADB2E1;
    padding: 10% 10% 5% 5%;
}  
.pan3{
    grid-area: pan3;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: #221286;
    padding: 10% 10% 5% 5%;
}
.pan4{
    grid-area: pan4;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #E1E5F1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.pan5{
    grid-area: pan5;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #ADB2E1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}  
.pan6{
    grid-area: pan6;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: #221286;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
a{
    text-decoration: none;
    color: black;
}
#steps{
    padding-top: 5%;
}
.subhead{
    grid-area: text1;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 15%;
    font-size: 25px;
    font-weight: lighter;
    padding-right: 20%;
    padding-left: 20%;
}

/*slideshow*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    grid-area: slideshow;
  }

/* Caption text */
.text {
    color: black;
    font-size: 14pt;
    /* top | right | bottom | left */
    padding: 0% 10% 0% 10%;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }

  .numbertext {
    color: black;
    font-size: 10pt;
    /* top | right | bottom | left */
    padding: 1% 1%;
    position: absolute;
    top: 0;
    font-family: 'Josefin Sans', sans-serif;
  }

  /*buttons*/
.button{
    border: 2px solid black;
    background-color: white;
    padding: 5% 10% 5% 10%;
    font-size: 12pt;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

}
.s1{
    background-color: #E1E5F1;
    border: 2px solid white;
    color: black;
}
.s1:hover {
    border: 2px solid black;
    
}
.s2{
    background-color: #ADB2E1;
    border: 2px solid white;
    color: black;
}
.s2:hover {
    border: 2px solid black;
    
}
.s3{
    background-color: #221286;
    border: 2px solid black;
    color: white;
}
.s3:hover {
    border: 2px solid white;
}
.s4{
    font-weight:normal;
    font-size: 16pt;
    padding: 2% 10% 2% 10%;
}
.s4:hover{
    color: grey;
}



  


