/*
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Moontime';
*/
@font-face {
    font-family: 'Moontime';
    src: url("fonts/Moontime.woff") format('woff');
  }
*{
    margin: 0;
}
html{
    max-width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    
    grid-template-areas: 
       "image image title title title blank about blank2 catalog blank3 compare navRight"
       "header header header header header header header header header header header header"
       "step1 step1 step1 step1 step1 step1 step1 step1 step1 step1 step1 step1"
       "s1a s1a s1a s1b s1b s1b s1c s1c s1c s1d s1d s1d"
       "step2 step2 step2 step2 step2 step2 step2 step2 step2 step2 step2 step2"
       "s2a s2a s2a s2a s2b s2b s2b s2b s2c s2c s2c s2c"
       "step3 step3 step3 step3 step3 step3 step3 step3 step3 step3 step3 step3"
       "s3a s3a s3a s3b s3b s3b s3c s3c s3c s3d s3d s3d"

       
}

.logo{
    grid-area: image;
    background-color: #C1C8FF;
    align-content: center;
    padding-top: 10%;
    padding-left: 15%;

}
#navLinks:hover {
    color:white;
  }
.title{
    grid-area: title;
    font-family: 'Moontime';
    font-size: 50pt;
    background-color: #C1C8FF;
    white-space: nowrap;
    padding-top: 5%;
    padding-left: -50%;
    
}
#top{
    text-decoration: none;
    color: black;
}
.blank{
    grid-area: blank;
    background-color: #C1C8FF;
}
.blank2{
    grid-area: blank2;
    background-color: #C1C8FF;
}
.blank3{
    grid-area: blank3;
    background-color: #C1C8FF;
}
#navLinks{
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}
.about{
    grid-area: about;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.catalog{
    grid-area: catalog;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.compare{
    grid-area: compare;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    font-weight: bold;
}
.navLeft{
    grid-area: navLeft;
    background-color: #C1C8FF;
    width: auto;
}
.navRight{
    grid-area: navRight;
    background-color: #C1C8FF;
    width: auto;
}
.header{
    grid-area: header;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 24pt;

}
/*Scheduling: Step 1*/

.step1{
    grid-area: step1;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    background-color: #E1E5F1;
    padding-bottom: 5%;
    font-size: 24pt;
}
.s1a{
    grid-area:s1a;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #E1E5F1;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.5;
    
}
.s1b{
    grid-area:s1b;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #E1E5F1;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.5;
    
}
.s1c{
    grid-area:s1c;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #E1E5F1;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.25;
    
}
.s1d{
    grid-area:s1d;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #E1E5F1;
    padding-bottom: 10%;
    text-align: center;
    line-height: 1.25;
    
}

/*Pickup: Step 2*/
.step2{
    grid-area: step2;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    background-color: #ADB2E1;
    padding-bottom: 5%;
    font-size: 24pt;
}
.s2a{
    grid-area: s2a;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ADB2E1;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.5;
}
.s2b{
    grid-area: s2b;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ADB2E1;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.25;
}
.s2c{
    grid-area: s2c;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ADB2E1;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.25;
}

/*Drop off: Step 3*/

.step3{
    grid-area: step3;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    background-color: #221286;
    color: white;
    padding-bottom: 5%;
    font-size: 24pt;
}
.s3a{
    grid-area: s3a;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #221286;
    color: white;
    padding-bottom: 20%;
    text-align: center;
    line-height: 1.25;
}
.s3b{
    grid-area: s3b;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #221286;
    color: white;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.25;
}
.s3c{
    grid-area: s3c;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #221286;
    color: white;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.25;
}
.s3d{
    grid-area: s3d;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #221286;
    color: white;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.25;
}

@media (max-width: 600px){
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;

        grid-template-areas:
        "image about catalog compare"
        "header header header header"
        "step1 step1 step1 step1"
        "s1a s1a s1b s1b"
        "s1c s1c s1d s1d"
        "step2 step2 step2 step2"
        "s2a s2a s2a s2a"
        "s2b s2b s2b s2b"
        "s2c s2c s2c s2c"
        "step3 step3 step3 step3"
        "s3a s3a s3b s3b"
        "s3c s3c s3d s3d"
    }
    /*navbar*/
    .image{
        padding-top: 5%;
    }
    .about{
        padding-top:20%;
    }
    .catalog{
        padding-top:20%;
    }
    .compare{
        padding-top:20%;
    }
    .blank{
        display:none;
    }
    .title{
        display:none;
    }
    .blank2{
        display:none;
    }
    .blank3{
        display:none;
    }
    .navRight{
        display:none;
    }
    .navLeft{
        display:none;
    }
    /*for process page*/
    .header{
        padding-left:25%;
        padding-right: 25%;
    }
    .s3d{
        padding-bottom: 50%;
    }
}