/*
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Moontime';
*/
@font-face {
    font-family: 'Moontime';
    src: url("fonts/Moontime.woff") format('woff');
  }
*{
    margin: 0;
}
html{
    max-width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(75px, auto);
    justify-content: space-between;
    grid-template-areas: 
       "image image title title title blank about blank2 catalog blank3 compare navRight"
       "header header header header header header header header header header header header"
       "step1 step1 step1 step1 s1 s1 s1 s1 s1 s1 s1 s1"
       "s2 s2 s2 s2 s2 s2 s2 s2 step2 step2 step2 step2"
       "step3 step3 step3 step3 s3 s3 s3 s3 s3 s3 s3 s3"

       
}

.logo{
    grid-area: image;
    background-color: #C1C8FF;
    align-content: center;
    padding-top: 10%;
    padding-left: 15%;

}
#navLinks:hover {
    color:white;
  }
.title{
    grid-area: title;
    font-family: 'Moontime';
    font-size: 50pt;
    background-color: #C1C8FF;
    white-space: nowrap;
    padding-top: 5%;
    padding-left: -50%;
    
}
#top{
    text-decoration: none;
    color: black;
}
.blank{
    grid-area: blank;
    background-color: #C1C8FF;
}
.blank2{
    grid-area: blank2;
    background-color: #C1C8FF;
}
.blank3{
    grid-area: blank3;
    background-color: #C1C8FF;
}
#navLinks{
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
}
.about{
    grid-area: about;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.catalog{
    grid-area: catalog;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    
}
.compare{
    grid-area: compare;
    background-color: #C1C8FF;
    padding-top: 35%;
    text-align: center;
    font-weight: bold;
}
.navLeft{
    grid-area: navLeft;
    background-color: #C1C8FF;
    width: auto;
}
.navRight{
    grid-area: navRight;
    background-color: #C1C8FF;
    width: auto;
}
.header{
    grid-area: header;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 24pt;

}
.step1{
    grid-area: step1;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20%;
    background-color: #E1E5F1;
    padding-bottom: 5%;
    font-size: 24pt;
}
.s1{
    grid-area:s1;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #E1E5F1;
    padding-bottom: 5%;
    
}
.step2{
    grid-area: step2;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 15%;
    background-color: #ADB2E1;
    padding-bottom: 5%;
    font-size: 24pt;
}
.s2{
    grid-area: s2;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #ADB2E1;
    padding-bottom: 5%;
}
.step3{
    grid-area: step3;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20%;
    background-color: #221286;
    color: white;
    padding-bottom: 5%;
    font-size: 24pt;
}
.s3{
    grid-area: s3;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #221286;
    color: white;
    padding-bottom: 5%;
}
