*{
    margin: 0;
}
html{
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(75px, auto);
    grid-template-areas: 
       "navLeft navLeft navLeft navLeft link1 link2 link3 link4 navRight navRight navRight navRight"
       "header header header header header header header header header header header header"
       "sidebarLeft text text text text text text text text text text sidebarRight"
       "sidebarLeft text text text text text text text text text text sidebarRight"
       "sidebarLeft text text text text text text text text text text sidebarRight"
       "sidebarLeft text text text text text text text text text text sidebarRight"
       "sidebarLeft text text text text text text text text text text sidebarRight"
       "sidebarLeft text text text text text text text text text text sidebarRight"
       "sidebarLeft text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 sidebarRight"
       "sidebarLeft text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 sidebarRight"
       "sidebarLeft text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 sidebarRight"
       "sidebarLeft text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 sidebarRight"
       "sidebarLeft text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 sidebarRight"
       "sidebarLeft text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 sidebarRight"
       "sidebarLeft footer footer footer footer footer footer footer footer footer footer sidebarRight";
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 96px;
}
a{
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: white;
}
button.randombuttom{ 
    background: none; 
    border: none; 
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: white;

}
.sidebarLeft{
    grid-area: sidebarLeft;
    background-color:black;
    text-align: right;
    padding-left: 5px;
    width: 200px;
}

.sidebarRight{
    grid-area: sidebarRight;
    background-color:black;
    text-align: left;
    padding-right: 5px;
    width: 200px;
}
.navLeft{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: navLeft;
    background-color: black;
}
.navRight{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: navRight;
    background-color: black;
}
.link1{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link1;
    background-color: black;
}
.link2{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link2;
    background-color: black;
}
.link3{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link3;
    background-color: black;
}
.link4{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link4;
    background-color: black;
}

.title{
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    width: auto;
    grid-area: header;
    /*background-color: black;*/
    overflow: hidden;
    color:white;
    z-index: 2;
  
}
video{
    grid-area: header;
    width:100%;
    background-color:black;
    overflow: hidden;
    overflow-y: hidden;
    z-index: -2;
    pointer-events: none;
  
}


.text{
    grid-area: text;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-color:black;
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
    color: white;
}

.spiral{
    display: none;
}

.keepGoing:hover ~ .spiral {
    display: block;
    position: absolute;
    z-index: 2
  }
.studentStudy{
    display:none;
    width: 500px;
}

.student{
    color: red;
}

.student:hover ~ .studentStudy {
    display: block;
    position: absolute;
    z-index: 2
  }

  .run{
    display: none;
    width: 500px;
  }

.athlete{
    color: yellow;
}

.athlete:hover ~ .run {
    display: block;
    position: absolute;
    z-index: 2
  }

  .research{
    display: none;
    width: 500px;
  }

.scientist{
    color: lightgreen;
}

  .scientist:hover ~ .research {
    display: block;
    position: absolute;
    z-index: 2
  }

  .coding{
    display: none;
    width: 500px;
  }

  .webdesigner{
    color: lightblue;
  }
  .webdesigner:hover ~ .coding {
    display: block;
    position: absolute;
    z-index: 2
  }




.text2{
    grid-area: text2;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    background-color:black;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: white;
}

footer{
    padding-top: 20px;
    text-align: center;
    width: auto;
    grid-area: footer;
    background-color:black;

  
}
#disclaimer{
    font-family: 'Roboto Slab'; 
    font-size: 10px;
    font-style:italic;
    color: white;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: white;
}


@media (max-width: 1000px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        grid-auto-rows: minmax(75px, auto);
        grid-template-areas: 
        "navLeft link1 navRight"
        "navLeft link2 navRight"
        "navLeft link3 navRight"
        "navLeft link4 navRight"
        "sidebarLeft header sidebarRight"
        "sidebarLeft text sidebarRight"
        "sidebarLeft text2 sidebarRight"
        "sidebarLeft footer sidebarRight";
    }

    #video{
        width: 1000px;
    }
    div#title h1{
            font-family: 'Great Vibes', cursive;
            font-size: 24px;
            width: 1000px;
            background-color: black;
    }

}

@media (max-width: 750px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        grid-auto-rows: minmax(75px, auto);
        grid-template-areas: 
        "sidebarLeft link1 sidebarRight"
        "sidebarLeft link2 sidebarRight"
        "sidebarLeft link3 sidebarRight"
        "sidebarLeft link4 sidebarRight"
        "sidebarLeft header sidebarRight"
        "sidebarLeft text sidebarRight"
        "sidebarLeft text2 sidebarRight"
        "sidebarLeft footer sidebarRight";
    }

    #video{
        width: 1000px;
    }
    div#title h1{
            font-family: 'Great Vibes', cursive;
            font-size: 24px;
            width: 1000px;
            background-color: black;
    }

}

