*{
    margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(75px, auto);
    grid-template-areas: 
       "navLeft navLeft navLeft navLeft link1 link2 link3 link4 navRight navRight navRight navRight"
       "header header header header header header header header header header header header"
       "sidebarLeft intro intro intro intro intro intro intro intro intro intro sidebarRight"
       "sidebarLeft student student student student student student student student student student sidebarRight"
       "sidebarLeft athletes athletes athletes athletes athletes athletes athletes athletes athletes athletes sidebarRight"
       "sidebarLeft scientists scientists scientists scientists scientists scientists scientists scientists scientists scientists sidebarRight"
       "sidebarLeft webDesigner webDesigner webDesigner webDesigner webDesigner webDesigner webDesigner webDesigner webDesigner webDesigner sidebarRight"
       "sidebarLeft closing closing closing closing closing closing closing closing closing closing sidebarRight"
       "sidebarLeft footer footer footer footer footer footer footer footer footer footer sidebarRight";
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 96px;
}
a{
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: white;
}
.sidebarLeft{
    grid-area: sidebarLeft;
    background-color:black;
    text-align: right;
    padding-left: 5px;
    width: 200px;
}

.sidebarRight{
    grid-area: sidebarRight;
    background-color:black;
    text-align: left;
    padding-right: 5px;
    width: 200px;
}
.navLeft{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: navLeft;
    background-color: black;
}
.navRight{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: navRight;
    background-color: black;
}
.link1{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link1;
    background-color: black;
}
.link2{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link2;
    background-color: black;
}
.link3{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link3;
    background-color: black;
}
.link4{
    padding-top: 10px;
    text-align: center;
    width: auto;
    grid-area: link4;
    background-color: black;
}

.title{
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    width: auto;
    grid-area: header;
    
    color:white;
  
}
video{
    grid-area: header;
    width:100%;
    background-color:#FFEDDF;
    overflow: hidden;
    z-index: -2;
    
}
.intro{
    grid-area: intro;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-color:#FFEDDF;
}
.student{
    grid-area: student;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-color:#FFEDDF;
}
/*.img1{
    grid-area: img1;
    width: auto;
    padding-left: 10px;
    padding-right: 50px;
    padding-top:50px;
    background-color:#FFEDDF;
}
.img2{
    grid-area: img2;
    width: auto;
    padding-left: 50px;
    background-color:#FFEDDF;
}*/
.athletes{
    grid-area: athletes;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background-color:#FFEDDF;
}
.scientists{
    grid-area: scientists;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background-color:#FFEDDF;
}
/*
.img3{
    grid-area: img3;
    width: auto;
    padding-left: 5px;
    padding-right: 50px;
    background-color:#FFEDDF;
}
.img4{
    grid-area: img4;
    width: auto;
    padding-left: 50px;
    background-color:#FFEDDF;
}*/
.webDesigner{
    grid-area: webDesigner;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background-color:#FFEDDF;
}
.closing{
    grid-area: closing;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background-color:#FFEDDF;
}
#story1{
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}

#story2{
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}
#story3{
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}
#story4{
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}
#story5{
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}
#story6{
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}
footer{
    padding-top: 50px;
    text-align: center;
    width: auto;
    grid-area: footer;
    background-color:#FFEDDF;

  
}
#disclaimer{
    font-family: 'Roboto Slab'; 
    font-size: 10px;
    font-style:italic;
}


@media (max-midth: 1000px){
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;
        grid-auto-rows: minmax(75px, auto);
        grid-template-areas: 
       "link1 link2 link3 link4"
       "header header header header"
       "main main main main"
       "quote quote quote quote"
       "small2 small2 small2 med2"
       "footer footer footer footer";
    }

    .link1{
        padding-top: 10px;
        text-align: center;
        width: auto;
        grid-area: link1;
        background-color: #FFEDDF;
    }
    .link2{
        padding-top: 10px;
        text-align: center;
        width: auto;
        grid-area: link2;
        background-color: #FFEDDF;
    }
    .link3{
        padding-top: 10px;
        text-align: center;
        width: auto;
        grid-area: link3;
        background-color: #FFEDDF;
    }
    .link4{
        padding-top: 10px;
        text-align: center;
        width: auto;
        grid-area: link4;
        background-color: #FFEDDF;
    }



}

