*{
    margin: 2px;
}
html{
    background-color:antiquewhite;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
       "small small small small med med med med small1 small1 small1 small1"
       "header header header header header header header header header header img img"
       "main main main main main main main main sidebar sidebar sidebar sidebar"
       "quote quote quote quote quote quote quote quote sidebar sidebar sidebar sidebar"
       "small2 small2 small2 med2 med2 med2 small3 small3 small3 lg lg lg"
       "footer footer footer footer footer footer footer footer footer footer footer footer";
}
h1{
    font-family: 'Courier';
    font-style: normal;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
}
.small{
    background-color: #582f0e;
    grid-area: small;
    width: auto;
    
}
.med{
    background-color: #7F4F24;
    grid-area: med;
    width: auto;
    
}
.small1{
    background-color: #582f0e;
    grid-area: small1;
    width: auto;
    
}
header{
    background-color: #936639;
    grid-area: header;
    width: auto;
}
.img{
    background-color: #A68A64;
    grid-area: img;
    width: auto;
}
.main{
    background-color: #B6AD90;
    grid-area: main;
    width: auto;

}
.quote{
    background-color: #C2C5AA;
    grid-area: quote;
    width: auto;
}
.sidebar{
    background-color: #A4AC86;
    grid-area: sidebar;
    width: auto;
}
.small2{
    background-color: #582f0e;
    grid-area: small2;
    width: auto;
    
}
.med2{
    background-color: #7F4F24;
    grid-area: med2;
    width: auto;
    
}
.small3{
    background-color: #582f0e;
    grid-area: small3;
    width: auto;
    
}
.lg{
    background-color: #656D4A;
    grid-area: lg;
    width: auto;
}
footer{
    background-color: #414833;
    grid-area: footer;
    width: auto;

}
#footer{
    color: antiquewhite;
}
#small{
    color: antiquewhite;
}
@media (max-width: 600px){
    .grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}


